ul, li{
  list-style: none;
}

/*------------------------ Header ------------------------*/
Header{
  display: flex;
}

header>*{
  /* flex-basis: 500px; */
  flex-grow: 1;
}

Header ul{
  display: flex;
}

Header ul *{

}

/*------------------------ Login ------------------------*/
#background_layer{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}